body{
  margin: 0;
  padding: 0;
}
h1{
  color: red;
  text-align: left;
  font-size:100px;
  font-family: cursive;;
}
p{
  color: blue;
  font-size: 30px;
  font-family: sans-serif;
  text-align: justify;
}
h2{
  color: red;
  text-align: left;
  font-family: cursive;
  font-size: 33px;
}
ul{
  list-style-position: inside;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}
img{
  width: 100%;
}
